image: node:10

before_script:
- npm install


# This folder is cached between builds
# http://docs.gitlab.com/ce/ci/yaml/README.html#cache
cache:
  paths:
    - node_modules/
    
test:
  script:
  - npm run ci 
  coverage: /All files\s+\|\s+([\d.]+)/